<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.common.CommonMapper">

    <resultMap type="employeeVO" id="employeeWithPhoto">
        <result property="emplId" column="EMPL_ID"/>
        <result property="emplNm" column="EMPL_NM"/>
        <result property="emplTelno" column="EMPL_TELNO"/>
        <result property="emplEmail" column="EMPL_EMAIL"/>
        <result property="emplBrthdy" column="EMPL_BRTHDY"/>
        <result property="commonCodeDept" column="COMMON_CODE_DEPT"/>
        <result property="commonCodeClsf" column="COMMON_CODE_CLSF"/>
        <result property="commonCodeHffcSttus" column="COMMON_CODE_HFFC_STTUS"/>
        <result property="proflPhotoFileStreNm" column="UPLOAD_FILE_STRE_NM"/>
    </resultMap>

    <select id="loadNoticeList" parameterType="String" resultType="noticeVO">
        SELECT NOTI_ETPR_CODE,
               NOTI_TITLE,
               NOTI_CONTENT,
               NOTI_DATE,
               NOTI_RDCNT,
               NOTI_CTGRY_ICON_FILE_STRE_NM,
               COMMON_CODE_NOTI_KIND
        FROM NOTI
        WHERE COMMON_CODE_NOTI_KIND = 'NOTI020'
        ORDER BY
            CASE
                WHEN NOTI_CTGRY_ICON_FILE_STRE_NM = 'important.png' THEN 0
                ELSE 1
                END,
            LENGTH(NOTI_ETPR_CODE) DESC,
            NOTI_ETPR_CODE DESC
    </select>
    <select id="findNotice" parameterType="map" resultType="noticeVO">
        SELECT
        NOTI_ETPR_CODE,
        NOTI_TITLE,
        NOTI_CONTENT,
        NOTI_DATE,
        NOTI_RDCNT,
        NOTI_CTGRY_ICON_FILE_STRE_NM,
        COMMON_CODE_NOTI_KIND
        FROM NOTI
        WHERE COMMON_CODE_NOTI_KIND = 'NOTI020'
        <if test="keyword!=null and keyword!=''">
            AND (
            NOTI_TITLE LIKE '%' || #{keyword} || '%' OR
            NOTI_CONTENT LIKE '%' || #{keyword} || '%'
            )
        </if>
        ORDER BY
        CASE
        WHEN NOTI_CTGRY_ICON_FILE_STRE_NM = 'important.png' THEN 0
        ELSE 1
        END,
        <if test="sortBy!=null and sortBy!=''">
            NOTI_DATE ${sortBy}
        </if>
    </select>
    <select id="loadNoticeDetail" parameterType="String" resultType="noticeVO">
        SELECT NOTI_ETPR_CODE,
               NOTI_TITLE,
               NOTI_CONTENT,
               NOTI_DATE,
               NOTI_RDCNT,
               NOTI_CTGRY_ICON_FILE_STRE_NM,
               COMMON_CODE_NOTI_KIND
        FROM NOTI
        WHERE NOTI_ETPR_CODE = #{notiEtprCode}
    </select>
    <select id="loadNotiFiles" parameterType="String" resultType="uploadFileVO">
        SELECT UPLOAD_FILE.UPLOAD_FILE_SN,
               UPLOAD_FILE.UPLOAD_FILE_ETPR_CODE,
               UPLOAD_FILE.UPLOAD_FILE_ORGINL_NM,
               UPLOAD_FILE.UPLOAD_FILE_STRE_NM,
               UPLOAD_FILE.UPLOAD_FILE_SIZE,
               UPLOAD_FILE.UPLOAD_FILE_RGSDE
        FROM NOTI
                 LEFT JOIN UPLOAD_FILE ON NOTI.NOTI_ETPR_CODE = UPLOAD_FILE.UPLOAD_FILE_ETPR_CODE
        WHERE NOTI.NOTI_ETPR_CODE = #{notiEtprCode}
    </select>
    <select id="downloadNotiFile" parameterType="int" resultType="uploadFileVO">
        SELECT UPLOAD_FILE_SN,
               UPLOAD_FILE_ETPR_CODE,
               UPLOAD_FILE_ORGINL_NM,
               UPLOAD_FILE_STRE_NM,
               UPLOAD_FILE_SIZE,
               UPLOAD_FILE_RGSDE
        FROM UPLOAD_FILE
        WHERE UPLOAD_FILE_SN = #{uploadFileSn}
    </select>
    <update id="modifyNoticeView" parameterType="String">
        UPDATE NOTI
        SET NOTI_RDCNT=NOTI_RDCNT + 1
        WHERE NOTI_ETPR_CODE = #{notiEtprCode}
    </update>
    <select id="loadOrgChart" parameterType="String" resultMap="employeeWithPhoto">
        SELECT UF.UPLOAD_FILE_STRE_NM,
               E.*
        FROM UPLOAD_FILE UF
                 JOIN PROFL P ON UF.UPLOAD_FILE_ETPR_CODE = P.PROFL_ETPR_CODE
                 JOIN EMPL E ON P.PROFL_EMPL_ID = E.EMPL_ID
        WHERE E.COMMON_CODE_DEPT = #{depCode}
    </select>

</mapper>