<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.sanction.SanctionMapper">
    <select id="loadFormat" resultType="sanctionFormatVO">
        SELECT COMMON_CODE_SANCTN_FORMAT,
               FORMAT_SANCTN_KND,
               FORMAT_SJ,
               FORMAT_CN,
               FORMAT_USE_AT
        FROM SANCTN_FORMAT
        WHERE COMMON_CODE_SANCTN_FORMAT = #{format}
    </select>
    <select id="getSeq" parameterType="String" resultType="String">
        SELECT #{formatSanctnKnd} || '-' || TO_CHAR(SYSDATE, 'YYYY') || '-' || LPAD(
                (SELECT TO_NUMBER(COUNT(*)) + 1
                 FROM ELCTRN_SANCTN
                 WHERE SUBSTR(ELCTRN_SANCTN_ETPR_CODE, 1, INSTR(ELCTRN_SANCTN_ETPR_CODE, '-') - 1) =
                       #{formatSanctnKnd}),
                4, '0'
            ) AS elctrnSanctnEtprCode
        FROM DUAL
    </select>
    <select id="getStatus" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM ELCTRN_SANCTN
        WHERE ELCTRN_SANCTN_DRFT_EMPL_ID = #{elctrnSanctnDrftEmplId}
          AND COMMON_CODE_SANCT_PROGRS = #{commonCodeSanctProgrs}
    </select>
    <!--기안 문서함(상신) 불러오기-->
    <select id="loadInProgressList" parameterType="String" resultType="sanctionVO">
        SELECT ELCTRN_SANCTN_ETPR_CODE,
               ELCTRN_SANCTN_FORMAT_CODE,
               ELCTRN_SANCTN_SJ,
               ELCTRN_SANCTN_DC,
               ELCTRN_SANCTN_DRFT_EMPL_ID,
               ELCTRN_SANCTN_RECOM_DATE,
               COMMON_CODE_SANCT_PROGRS
        FROM ELCTRN_SANCTN
        WHERE ELCTRN_SANCTN_DRFT_EMPL_ID = #{elctrnSanctnDrftEmplId}
          AND COMMON_CODE_SANCT_PROGRS = 'SANCTN014'
    </select>
</mapper>

