<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.teamcommunity.CommunityMapper">
    <insert id="inputPost" parameterType="sntncVO">
        INSERT INTO SNTNC(SNTNC_ETPR_CODE,
                          SNTNC_WRTING_EMPL_ID,
                          SNTNC_CN,
                          SNTNC_WRITNG_DATE,
                          COMMON_CODE_SNTNC_CTGRY)
        VALUES (#{sntncEtprCode},
                #{sntncWritingEmplId},
                #{sntncCn},
                SYSDATE,
                'SNTNC010')
    </insert>

    <select id="getSeq" resultType="int">
        SELECT SNTNC_SEQ.NEXTVAL FROM DUAL
    </select>

    <select id="findRecomend" parameterType="String" resultType="String">
        SELECT COMMON_CODE_RECOMEND_AT
        FROM RECOMEND r
        WHERE SNTNC_ETPR_CODE = #{sntncEtprCode} AND RECOMEND_EMPL_ID = #{recomendEmplId};
    </select>
    <select id="findPost" resultType="sntncVO" parameterType="String">
        SELECT s.SNTNC_ETPR_CODE,
               s.SNTNC_CN,
               s.SNTNC_WRTING_EMPL_ID,
               s.SNTNC_WRITNG_DATE,
               s.COMMON_CODE_SNTNC_CTGRY,
               e.EMPL_NM
        FROM SNTNC s
                 JOIN EMPL e ON s.SNTNC_WRTING_EMPL_ID = e.EMPL_ID
        WHERE s.COMMON_CODE_SNTNC_CTGRY = 'SNTNC010'
          AND e.COMMON_CODE_DEPT  = (
            SELECT e1.COMMON_CODE_DEPT
            FROM EMPL e1
            WHERE e1.EMPL_ID = #{emplId}
        )
    </select>

    <insert id="uploadPostFile" parameterType="map">
        INSERT INTO UPLOAD_FILE(UPLOAD_FILE_SN,
                                UPLOAD_FILE_ETPR_CODE,
                                UPLOAD_FILE_ORGINL_NM,
                                UPLOAD_FILE_STRE_NM,
                                UPLOAD_FILE_SIZE,
                                UPLOAD_FILE_RGSDE)
        VALUES (UPLOAD_FILE_SEQ.NEXTVAL,
                #{sntncEtprCode},
                #{originalFileName},
                #{newFileName},
                #{fileSize},
                SYSDATE)
    </insert>


</mapper>